
@{
    ViewData["Title"] = "Create Blog";
    @model BlogModel;
}

<form action="Create" method="post">
    <br />
    <span>Title: <input asp-for="Title" /></span>
    <br />
    <br />
    <textarea rows="4" cols="50" asp-for="Text"></textarea>
    <br />
    <button>Create</button>
</form>